main {
    padding-top: 20px;
}

:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


/*===============================
MIS ESTILOS
===============================*/


/*colores*/

:root {
    --c1: #eee;
    /* --c1: #333; */
    --c2: #9CC2EC;
    --c3: #468CDCe6;
    /*--c3: #468CDC;*/
    --c4: #1E5A9F;
    --c5: #0C2745;
    --color-danger: #fd4153;
    --color-danger-claro: #fd4153bb;
    --color-urgente: #dfdc33;
    --color-rojo: #fd4153;
    --color-rojo-claro: #fd4153bb;
    --color-azul: #468CDC;
    --color-verde: #28a746;
    --color-verde-claro: #28a746bb;
    --color-amarillo: #ddda31;
    --color-amarillo-claro: #ddda55;
    --color-gris-muy-claro: #f3f3f3;
    --color-gris-claro: #cacaca;
    --color-gris: #aaaaaa;
    --color-gris-oscuro: #707070;
}

.bg-gris {
    background-color: var(--color-gris);
}

.bg-gris-claro {
    background-color: var(--color-gris-claro);
}

.bg-gris-muy-claro {
    background-color: var(--color-gris-muy-claro);
}

.bg-rojo {
    background-color: var(--color-rojo);
}

.bg-azul {
    background-color: var(--color-azul);
}

.bg-verde {
    background-color: var(--color-verde);
}

.bg-amarillo {
    background-color: var(--color-amarillo);
}

.text-gris-oscuro {
    color: var(--color-gris-oscuro) !important;
}

.text-gris {
    color: var(--color-gris) !important;
}

.text-gris-claro {
    color: var(--color-gris-claro) !important;
}

.text-color1 {
    color: var(--c1) !important;
}

.text-color2 {
    color: var(--c2) !important;
}

.text-color3 {
    color: var(--c3) !important;
}

.text-color4 {
    color: var(--c4) !important;
}

.text-color5 {
    color: var(--c5) !important;
}

.color1 {
    background-color: var(--c5);
    color: var(--c1) !important;
    border-color: var(--c1);
}

.color2 {
    background-color: var(--c3);
    color: var(--c1) !important;
    border-color: var(--c1);
}

.borde-superior-azul {
    border-color: var(--color-gris-claro);
    border-top-color: var(--color-azul);
}

.borde-superior-verde {
    border-color: var(--color-gris-claro);
    border-top-color: var(--color-verde);
}

.borde-superior-gris {
    border-color: var(--color-gris-claro);
    border-top-color: var(--color-gris);
}

.color-urgente {
    /* background-color: var(--c1); */
    color: var(--color-gris-oscuro) !important;
    /* border-color: var(--color-urgente); */
}

.color-urgente-borde {
    border-color: var(--color-gris-claro);
    border-top-color: var(--color-amarillo);
}

.color-no-urgente {
    /* background-color: var(--color-gris-claro); */
    color: var(--color-gris-oscuro) !important;
    /* border-color: var(--c1); */
}

.color-no-urgente-borde {
    border-color: var(--color-gris-claro);
    border-top-color: var(--color-azul);
}

.color-retirado {
    border-color: var(--color-gris-claro);
    border-top-color: var(--color-verde);
}

.pedidos-panel-colapsable {
    border-top: 1px solid var(--color-gris-claro);
}

.transparencia {
    opacity: 0.9;
}

.color3 {
    background-color: var(--c2);
    color: var(--c5) !important;
    border-color: var(--c5);
}

.color4 {
    background-color: var(--c2);
    color: var(--c5) !important;
    border-color: var(--c5);
}

.btn-menu-inferior {
    color: #ccc;
}

.btn-menu-inferior:hover {
    color: #ddd;
}

.btn-active {
    color: #ffc;
}

* {
    /* font-family: 'Suez One', serif; */
    font-family: 'Lato', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Ubuntu', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
}

.fuente-logo {
    padding: 0px 10px;
    font-family: 'Suez One', serif;
    border: solid #ddddddcc 1px;
    border-radius: 3px;
}

.fuente-logo {
    box-shadow: none;
    transform: rotate(0);
    position: relative;
}

.fuente-logo::before {
    content: "";
    position: absolute;
    border: 1px solid #dddddd88;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    border-radius: 3px;
    opacity: 0;
    transition: 1s;
}

.fuente-logo::after {
    content: "";
    position: absolute;
    border: 1px solid #dddddd44;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    border-radius: 3px;
    transition: 1s;
    opacity: 0;
}

.fuente-logo:hover::before,
.fuente-logo:hover::after {
    opacity: 1;
    border-radius: 3px;
}

.logo-principal {
    color: #555;
    position: relative;
    padding: 0px 10px;
    font-size: 2em;
    font-family: 'Suez One', serif;
    border: 1px solid #555;
    border-radius: 5px;
}

.logo-principal::before {
    content: "";
    position: absolute;
    border: 1px solid #888;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    border-radius: 5px;
}

.logo-principal::after {
    content: "";
    position: absolute;
    border: 1px solid #bbb;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    border-radius: 5px;
}


/*

*/

body {
    /* background-image: linear-gradient(to right, #ddd, #eee); */
    background-image: #ddd;
}

.card {
    border-radius: 5px;
    border-style: solid;
    border-width: 5px 1px 1px 1px;
}

.desvanecer {
    margin: 10px;
    right: 10px;
    z-index: 10;
    position: fixed;
}

.badge-id {
    font-size: 0.6em;
    padding: 0px 1px;
    border: 1px solid var(--color-gris);
    border-radius: 5px;
}

.badge-estado {
    font-size: 0.8em;
    padding: 0px 2px;
    border: 1px solid var(--color-gris);
    border-radius: 5px;
}

.badge-pendiente {
    color: var(--color-gris-oscuro);
    border-color: var(--color-gris) !important;
    background-color: var(--color-amarillo);
}

.badge-en-proceso {
    color: var(--color-gris-oscuro);
    border-color: var(--color-gris) !important;
    background-color: var(--color-rojo);
}

.badge-para-retirar {
    color: var(--color-gris-muy-claro);
    border-color: var(--color-gris-claro) !important;
    background-color: var(--color-azul);
}

.badge-retirado {
    color: var(--color-gris-muy-claro);
    border-color: var(--color-gris-claro) !important;
    background-color: var(--color-verde);
}


/* .badge {
    font-size: 0.9em;
    padding: 5px;
} */

.badge-danger,
.badge-warning,
.badge-success {
    border-radius: 5px;
}

.btn-outline-color2 {
    background-color: var(--c1);
    color: var(--c3) !important;
    border-color: var(--c3);
}

.btn-outline-amarillo {
    background-color: var(--c1);
    color: var(--color-amarillo) !important;
    border-color: var(--color-amarillo);
}

.btn-outline-color2:hover {
    background-color: var(--c3);
    color: var(--c1) !important;
    border-color: var(--c1);
}

.btn-outline-gris {
    background-color: var(--color-gris-muy-claro);
    color: var(--color-gris-oscuro) !important;
    border-color: var(--color-gris);
}

.btn-outline-gris:hover {
    background-color: var(--color-gris);
    color: var(--color-gris-muy-claro) !important;
    border-color: var(--color-gris-muy-claro);
}

.btn-gris {
    background-color: var(--color-gris);
    color: var(--color-gris-muy-claro) !important;
    border-color: var(--color-gris-muy-claro);
}

.btn-gris:hover {
    background-color: var(--color-gris-muy-claro);
    color: var(--color-gris) !important;
    border-color: var(--color-gris);
}

.btn-color2 {
    background-color: var(--c3) !important;
    color: var(--c1) !important;
    border-color: var(--c2) !important;
}

.btn-color2:hover {
    background-color: var(--c1) !important;
    color: var(--c3) !important;
    border-color: var(--c3) !important;
}


/*sobreescribo los badges*/

.badge-success,
.btn-success {
    color: #eee;
    background-color: #28a746bb;
}

.badge-warning,
.btn-warning {
    color: #eee;
    /* text-shadow: #555; */
    background-color: #dfdb00b0;
}

.badge-danger,
.btn-danger {
    color: #eee !important;
    background-color: var(--color-danger) !important;
}


/*colores en el selector de urgencia*/


/*aca esta en no seleccionado*/

.btn-outline-success,
.btn-outline-danger {
    color: #ccc;
    /* background-color: transparent; */
    /* background-image: none; */
    border-color: #ccc;
}

.btn-outline-success:hover {
    color: #eee;
    background-color: var(--color-verde-claro);
    border-color: var(--color-verde-claro);
}

.btn-outline-danger:hover {
    color: #eee;
    background-color: var(--color-rojo-claro);
    border-color: var(--color-rojo-claro);
}


/*aca esta seleccionado*/

.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show>.btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: var(--color-verde);
    border-color: var(--color-verde);
}

.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled).active,
.show>.btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: var(--color-rojo);
    border-color: var(--color-rojo);
}

.tabla {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.tabla th,
.tabla td {
    padding: 0.75rem;
    vertical-align: top;
    border-bottom: 1px solid var(--color-gris-claro);
}

.titulo-seccion {
    border-width: 1px 0px;
    border-style: solid;
    color: var(--color-gris-oscuro);
    border-color: var(--color-gris-claro);
    background-color: var(--color-gris-muy-claro);
}

.cursor-cruz {
    cursor: cell;
    /* cursor: pointer; */
}


/*
 * Component: Small Box
 * --------------------
 */

.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.small-box>.inner {
    padding: 10px;
}

.small-box>.small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}


/* .small-box>.small-box-footer:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
} */

.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
}

.small-box p {
    font-size: 15px;
}

.small-box p>small {
    display: block;
    color: #f9f9f9;
    font-size: 13px;
    margin-top: 5px;
}

.small-box h3,
.small-box p {
    z-index: 5;
}

.small-box .icon {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15);
}

.small-box {
    color: #fff;
}

.small-box:hover {
    text-decoration: none;
    color: #f5f5f5 !important;
}

.small-box:hover .icon {
    font-size: 95px;
}

@media (max-width: 767px) {
    .small-box {
        text-align: center;
    }
    /* .small-box .icon {
        display: none;
    } */
    .small-box p {
        font-size: 12px;
    }
}