main {
    padding-top: 20px;
}

:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


/*===============================
MIS ESTILOS
===============================*/


/*colores*/

:root {
    --c1: #eee;
    /* --c1: #333; */
    --c2: #9CC2EC;
    --c3: #468CDCe6;
    /*--c3: #468CDC;*/
    --c4: #1E5A9F;
    --c5: #0C2745;
}

.color1 {
    background-color: var(--c5);
    color: var(--c1) !important;
    border-color: var(--c1);
}

.color2 {
    background-color: var(--c3);
    color: var(--c1) !important;
    border-color: var(--c1);
}

.color2trans {
    background-color: var(--c3);
    color: var(--c1) !important;
    border-color: var(--c1);
    opacity: 0.9;
}

.color3 {
    background-color: var(--c2);
    color: var(--c5) !important;
    border-color: var(--c5);
}

.color4 {
    background-color: var(--c2);
    color: var(--c5) !important;
    border-color: var(--c5);
}

.btn-menu-inferior {
    color: #ccc;
}

.btn-menu-inferior:hover {
    color: #ddd;
}

.btn-active {
    color: #ffa;
}

* {
    /* font-family: 'Suez One', serif; */
    font-family: 'Lato', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Ubuntu', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
}

.fuente-logo {
    padding: 0px 10px;
    font-family: 'Suez One', serif;
    border: solid #ddddddcc 1px;
    border-radius: 3px;
}

.fuente-logo {
    box-shadow: none;
    transform: rotate(0);
    position: relative;
}

.fuente-logo::before {
    content: "";
    position: absolute;
    border: 1px solid #dddddd88;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    border-radius: 3px;
    opacity: 0;
    transition: 1s;
}

.fuente-logo::after {
    content: "";
    position: absolute;
    border: 1px solid #dddddd44;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    border-radius: 3px;
    transition: 1s;
    opacity: 0;
}

.fuente-logo:hover::before,
.fuente-logo:hover::after {
    opacity: 1;
    border-radius: 3px;
}


/*

*/

body {
    background-image: linear-gradient(to right, #ddd, #eee);
}

.card {
    border-radius: 0;
    /* border: solid lightgrey 1px; */
    border: 0;
    box-shadow: 0px 0px 20px #333;
}

.desvanecer {
    margin: 10px;
    right: 10px;
    z-index: 10;
    position: fixed;
}

.badge {
    font-size: 0.9em;
    padding: 7px;
}

.badge-danger,
.badge-warning,
.badge-success {
    border-radius: 0;
}

.badge-pill {
    font-size: 0.7em;
}

.btn {
    border-radius: 0;
}


/*sobreescribo los badges*/

.badge-success,
.btn-success {
    color: #eee;
    background-color: #28a746bb;
}

.badge-warning,
.btn-warning {
    color: #212529;
    background-color: #ffcf3ebb;
}

.badge-danger,
.btn-danger {
    color: #eee !important;
    background-color: #fd6170bb !important;
}


/*colores en el selector de urgencia*/


/*aca esta en no seleccionado*/

.btn-outline-success,
.btn-outline-danger {
    color: #ccc;
    background-color: transparent;
    background-image: none;
    border-color: #ccc;
}

.btn-outline-success:hover {
    color: #eee;
    background-color: #28a74688;
    border-color: #28a74688;
}

.btn-outline-danger:hover {
    color: #eee;
    background-color: #fd617088;
    border-color: #fd617088;
}


/*aca esta seleccionado*/

.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show>.btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #28a746bb;
    border-color: #28a746bb;
}

.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled).active,
.show>.btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: #fd6170bb;
    border-color: #fd6170bb;
}

.btn-desplegable {
    border-radius: 10px 10px 0 0;
}