{% extends 'core/base.html' %}
{% load static %}
{% block title %}Páginas{% endblock %}
{% block content %}

{% include 'pedidos/includes/pedidos_menu.html' %}

<main role="main">
  <div class="container mb-4">

    {% comment %} las siguientes 'pipes' le dice que campo usar para ordenar los resultados(por id y en reversa) {% endcomment %}
    {% for pedido in pedidos_list|dictsort:"id" %}

      <div class="card text-white bg-info mb-5 shadow-lg" >
        <form>
          <div class="card-header">
            <a href="{% url 'pedidos:pedido' pedido.id pedido.paciente|slugify %}" style="color:white;">
              <h4 class="text-center">{{pedido.cama}} - {{pedido.paciente}}</h4>
            </a>
            <p class="text-right">
            {% if pedido.urgencia == 'no urgente' %}
              <span class="badge badge-success">Rutina</span>
            {% elif pedido.urgencia == 'urgente' %}
              <span class="badge badge-danger">Urgente</span>
            {% else %}
              <span class="badge badge-warning">Modificado</span>
            {% endif %}
            </p>

            <h5 class="card-title text-center">Estado: {{pedido.estado}}</h5>
          </div>
            
          <div class="card-body">

            <ul class="list-group text-dark mb-3">
              {% for insumo in pedido.insumos_as_list %}
                <li class="list-group-item">{{insumo}}</li>
              {% endfor %}
            </ul>

            <p class="">Solicitado por: {{pedido.solicitante}} - {{pedido.created}}</p>
            <p class="">Procesado por: {{pedido.procesante}} - {{pedido.fecha_despachable}}</p>
            <p class="">Retirado por: {{pedido.retirante}} - {{pedido.fecha_despacho}}</p>

            {% comment %} <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci varius natoque et magnis dis, nascetur ridiculus mus.
            </p> {% endcomment %}
            
          </div>

        </form>

      </div>

    {% endfor %}
  </div>
</main>
{% endblock %}




