{% extends 'core/base.html' %}
{% load static %}
{% block title %}Crear pedido{% endblock %}
{% block content %}
{% comment %} {% include 'pedidos/includes/pedidos_menu.html'%} {% endcomment %}

<main role="main">
  <div class="container pt-2">

    {% comment %}
    Mensaje de confirmacion por una edicion exitosa
    {% endcomment %}
    {% if 'creado' in request.GET %}
      <div class="alert alert-success alert-dismissible fade show desvanecer" role="alert">
        El pedido fue creado correctamente.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}


    {% comment %} <div class="row mt-3 mb-3">
      <div class="col-md-9 mx-auto"> {% endcomment %}

    <div class="card borde-superior-azul" >
      <header class="pt-2 pb-1 bg-gris-muy-claro">
        <h4 class="text-center text-gris-oscuro">Crear pedido</h4>
      </header>
        
      <form action="" method="post" id="formularioCrear" onsubmit="return enviar()">{% csrf_token %}
        <div class="pedidos-panel-colapsable p-3">

        <input type="hidden" class="" name="created" required value="{{fecha_de_creacion}}">

          {% comment %} 
          BOTON URGENCIA
          {% endcomment %}
          <div class="form-group text-center mb-2">
            <div class="btn-group btn-group-toggle mx-auto" data-toggle="buttons">
              <label class="btn btn-outline-warning" for="id_urgencia">
                <input type="radio" name="urgencia" id="id_urgencia" autocomplete="off" value="urgente"> Urgente
              </label>
              <label class="btn btn-outline-success active" for="id_urgencia2">
                <input type="radio" name="urgencia" id="id_urgencia2" autocomplete="off" value="no urgente" checked> No urgente
              </label>
            </div>
          </div>


          {% comment %}
          INPUT PACIENTE
          {% endcomment %}
          <div class="form-group text-center mt-4">
            {% comment %} <label class="" for="select_nombre">Paciente:</label> {% endcomment %}
            <select class="form-control mx-auto" id="select_nombre" onchange="set_nombre_y_cama();" required>
              <option value="" selected>Selecciona un paciente</option>
              {% for paciente in pacientes|dictsort:"cama" %}
              <option value="{{paciente}}">{{paciente}}</option>
              {% endfor %}
            </select>
          
            <input type="hidden" class="" name="paciente" required id="id_paciente">
            <input type="hidden" class="" name="cama" maxlength="100" required id="id_cama">

          </div>



            {% comment %}
            TABLA INSUMOS
            {% endcomment %}
            <div class="form-group text-center mt-4">
            
              <table class="tabla" id="tabla_insumos">
  
                <tr class="text-center text-gris-oscuro">
                  <th width="75%">insumo</th>
                  <th width="10%">cantidad</th>
                  <th width="14%">opciones</th>
                </tr>

                {% comment %} <tr>
                  <td class='insumo'></td>
                  <td class='cantidad'>100</td>
                  <td>
                    <i class='fa fa-plus fa-lg mx-2' onclick='sumar(this)'></i>
                    <i class='fa fa-minus fa-lg mx-2' onclick='restar(this)'></i>
                    <i class='fa fa-remove fa-lg mx-2' onclick='quitar(this)'></i>
                  </td>
                </tr> {% endcomment %}
              </table>

              <select class="form-control mx-auto" id="select_insumo" onchange="set_insumos()">
                <option value="" selected>Selecciona los insumos</option>
                {% for insumo in insumos %}
                <option value="{{insumo}}">{{insumo}}</option>
                {% endfor %}
              </select>

              <input type="hidden" class="" name="insumos" required id="id_insumos" readonly>

            </div>
          


            <div class="text-center mt-4">
              <input type="submit" class="btn btn-outline-gris btn-block mx-auto" style="width:50%;" value="Crear pedido" onsubmit="return enviar()"/>
            </div>


            {% comment %} <button class='btn btn-sm btn-primary btn-block' onclick="enviar()">nuevo boton Enviar</button> {% endcomment %}
  
            {% comment %} <div id="lista"></div> {% endcomment %}



          </div>
        </form>

<script>

function set_nombre_y_cama(){
  var seleccionado = document.getElementById("select_nombre").value;
  //console.log(seleccionado);
  //console.log(seleccionado.slice(0,5));
  //console.log(seleccionado.slice(8,seleccionado.length));
  if(seleccionado != ''){
    var cama = seleccionado.slice(0,5);
    var nombre = seleccionado.slice(8,seleccionado.length);

    document.getElementById("id_paciente").value = nombre;
    document.getElementById("id_cama").value = cama;

  }else{
    confirm('no selecciono ningun paciente');
  }
  

}


function set_insumos(){
  var seleccionado = document.getElementById("select_insumo").value;
  console.log(seleccionado);

  if(seleccionado != ""){
    var tabla_insumos = document.getElementById("tabla_insumos");
    tabla_insumos.innerHTML += "<tr class=''><td class='insumo'>" + seleccionado + "</td><td class='cantidad'>1</td><td><span class='btn btn-sm btn-outline-gris mr-1 mb-1' onclick='sumar(this)'><i class='fa fa-plus fa-lg'></i></span><span class='btn btn-sm btn-outline-gris mr-1 mb-1' onclick='restar(this)'><i class='fa fa-minus fa-lg'></i></span><span class='btn btn-sm btn-outline-gris mr-1 mb-1' onclick='quitar(this)'><i class='fa fa-trash-o fa-lg'></i></span></td></tr>";   
    //tabla_insumos.innerHTML += "<tr class=''><td class='insumo'>" + seleccionado + "</td><td class='cantidad'>1</td><td><i class='fa fa-plus fa-lg mr-1 mb-1' onclick='sumar(this)'></i><i class='fa fa-minus fa-lg mr-1 mb-1' onclick='restar(this)'></i><i class='fa fa-trash-o fa-lg mr-1 mb-1' onclick='quitar(this)'></i></td></tr>";   
  }else{
    //console.log("no selecciono ningun insumo");
  }


}


function enviar(){
  //var lista = document.getElementById("lista");
  var insumos = document.getElementsByClassName("insumo");
  var cantidad = document.getElementsByClassName("cantidad");
  //console.log(insumos.length);
  //alert(insumos.length)
  var texto = "";
  for(var i = 0; i<insumos.length;i++){
    //console.log(insumos[i].innerHTML);
    if(texto == ''){
      texto += insumos[i].innerHTML + " | x " + cantidad[i].innerHTML + " u.";
    }else{
      texto += ";" + insumos[i].innerHTML + " | x " + cantidad[i].innerHTML + " u.";
    }

  }

  document.getElementById("id_insumos").value = texto;

  //lista.innerHTML = texto;
  //document.getElementById("formularioCrear").submit();
  return true;
}



function restar(elemento){
  console.log("restar mundooo");
  var cantidad = parseInt(elemento.parentElement.previousElementSibling.innerHTML);
  if(cantidad > 1){
     elemento.parentElement.previousElementSibling.innerHTML = cantidad -1;
     console.log("la cantidad ya ebtro al if");
  }
  console.log("la cantidad no entro al if");
}


function sumar(elemento){
  console.log("sumar mundooo");
  console.log(parseInt(elemento.parentElement.previousElementSibling.innerHTML));
  var cantidad = parseInt(elemento.parentElement.previousElementSibling.innerHTML);
  //elemento.parentElement.previousElementSibling.innerHTML = cantidad +1;
  elemento.parentElement.previousElementSibling.innerHTML = cantidad + 1;

}



function quitar(elemento){
  //elemento.innerHTML = "siu";
  elemento.parentNode.parentNode.remove();
}


</script>





    </div>
  </div>
</main>
{% endblock %}