{% extends 'core/base.html' %}
{% load static %}
{% block title %}Procesar pedido{% endblock %}
{% block content %}
{% comment %} {% include 'pedidos/includes/pedidos_menu.html'%} {% endcomment %}
<main role="main">
  <div class="container pt-2">


    <div class="card" >
      
      <div class="card-header color2">
            <div class="row mb-3">
              {% comment %} <a href="{% url 'pedidos:pedido' pedido.id %}" style="color:white;"> {% endcomment %}
              

              {% comment %}
              Visualiza el id del pedidos (podria ocultarse, no es muy relevante)
              {% endcomment %}
              <div class="col ">
                <span class="badge-id">ID {{pedidos.id}}</span>
              </div>


              {% comment %} 
              Visualiza la urgencia del pedidos (rutina, urgente)
              {% endcomment %}
              <div class="col text-center">
                {% if pedidos.urgencia == 'no urgente' %}
                  <span class="badge badge-success">rutina</span>
                {% elif pedidos.urgencia == 'urgente' %}
                  <span class="badge badge-danger">urgente</span>
                {% else %}
                  <span class="badge badge-warning">modificado</span>
                {% endif %}
              </div>


              {% comment %} 
              Visualizar el estado del pedidos (pendiente, en proceso o para retirar)
              {% endcomment %}
              <div class="col text-center">
                <span class="badge badge-warning float-right">en proceso</span>
              </div>
            

            </div><!--final del row-->

            {% comment %} <hr class="btn-color2 m-2 p-0"> {% endcomment %}

            {% comment %}
            Visualiza la sala, la cama y el nombre del paciente
            {% endcomment %}
            <h6 class="text-center m-0">{{pedidos.cama}} - {{pedidos.paciente}}</h6>
            
            {% comment %} <hr class="btn-color2 m-2 p-0"> {% endcomment %}

          </div><!--final del card-header-->


      <form action="" method="post" onsubmit="return seteos_despachable_onsubmit()">{% csrf_token %}
      {% comment %} {{ form.as_p }} {% endcomment %}

        <div class="card-body">
          
          <ul class="list-group mb-4">

            {% for insumo in pedidos.insumos_as_list %}    
              <li class="list-group-item text-color3">
                <div class="form-check pl-3 py-0">
                  {% comment %} los input checkbox no son usados para actualizar en la base de datos
                  solo se utiliza el aspecto visual del checkbox y para validar el boton de submit {% endcomment %}
                  <input type="checkbox" class="form-check-input" id="{{forloop.counter}}--{{insumo|slugify}}" required>
                  {% comment %} el forloop.counter y el insumo|slugify solucionan el problema de los id duplicados en el label  {% endcomment %}
                  <label class="form-check-label" for="{{forloop.counter}}--{{insumo|slugify}}">{{insumo}}</label>
                </div>
              </li>
            {% endfor %}
          
          </ul>
      
      
          {% comment %}
          django establece el siguiente input con el nombre usuario que accede
          {% endcomment %}
          {% comment %} <div class="form-group">
            <label for="id_procesante">Procesado:</label>  {% endcomment %}
            <input type="hidden" class="" name="procesante" value="{{pedidos.procesante}}" id="id_procesante" readonly>
            <input type="hidden" class="" name="fecha_procesamiento" id="id_fecha_procesamiento" value="{% now "DATETIME_FORMAT" %}" readonly>
          {% comment %} </div> {% endcomment %}
      
          {% comment %} <p>
            <label for="id_procesante">Procesante:</label> 
            <input type="text" name="procesante" value="{{pedidos.procesante}}" maxlength="200" id="id_procesante" readonly>
          </p> {% endcomment %}
          

          {% comment %}
          el estado se toma de la base de datos, y javascript lo actualiza a 'para retirar' en la funcion onsubmit
          {% endcomment %}
          {% comment %} <div class="form-group">
            <label for="id_estado">Estado:</label>  {% endcomment %}
            <input type="hidden" class="" name="estado" value="{{pedidos.estado}}" required id="id_estado" readonly>
          {% comment %} </div> {% endcomment %}

          {% comment %} <p>
            <label for="id_estado">Estado:</label> 
            <input type="text" name="estado" value="{{pedidos.estado}}" maxlength="100" required id="id_estado" readonly>
          </p> {% endcomment %}
          
          

          {% comment %} <div class="form-group">
            <label for="id_fecha_despachable">Fecha despachable:</label>  {% endcomment %}
            <input type="hidden" class="" name="fecha_despachable" id="id_fecha_despachable" value="{{pedidos.fecha_despachable}}" readonly>
          {% comment %} </div> {% endcomment %}

          {% comment %} <p>
            <label for="id_fecha_despachable">Fecha despachable:</label> 
            <input type="text" name="fecha_despachable" id="id_fecha_despachable" value="{{pedidos.fecha_despachable}}" readonly>
          </p> {% endcomment %}



          <div class="text-center">
            <input type="submit" class="btn btn-block btn-color2 mx-auto" style="width:50%;" value="Procesar pedido" />
          </div>
  
        </div>
      </form>

    </div>


<script>
  function seteos_despachable_onsubmit() {
    
    var d = new Date();
    var fecha = d.toLocaleDateString()+' '+d.toLocaleTimeString();
    document.getElementById("id_fecha_despachable").value = fecha;

    document.getElementById("id_estado").value = 'para retirar';
    
    //confirm("ejecutando la funcion onsubmit ;D");
  }
</script>


{% comment %} <div class=""> {% endcomment %}
{% comment %} {% now "DATETIME_FORMAT" %} {% endcomment %}
{% comment %} {{pedidos.created}}
</div> {% endcomment %}
          
          








  </div>
</main>
{% endblock %}