{% extends 'core/base.html' %}
{% load static %}
{% block title %}Crear pedido{% endblock %}
{% block content %}
{% comment %} {% include 'pedidos/includes/pedidos_menu.html'%} {% endcomment %}

<main role="main">
  <div class="container">


    {% comment %}
    Mensaje de confirmacion por una edicion exitosa
    {% endcomment %}
    {% if 'creado' in request.GET %}
      <div class="alert alert-success alert-dismissible fade show desvanecer" role="alert">
        El pedido fue creado correctamente.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}


    {% comment %} <div class="row mt-3 mb-3">
      <div class="col-md-9 mx-auto"> {% endcomment %}

    <div class="card text-white bg-info mb-5 shadow-lg" >
      <div class="card-header text-center">
        <h4>Crear pedido</h4>
      </div>
        
      <form action="" method="post" id="formularioCrear" onsubmit="return enviar()">{% csrf_token %}
        <div class="card-body">
          {% comment %} {{ form.as_p }} {% endcomment %}

          {% comment %} 
          radio button para definir la urgencia, por defecto seteado en 'no urgente'
          {% endcomment %}
          <div class="form-group text-center">
            <div class="btn-group btn-group-toggle mx-auto" data-toggle="buttons">
              <label class="btn btn-outline-light" for="id_urgencia">
                <input type="radio" name="urgencia" id="id_urgencia" autocomplete="off" value="urgente"> Urgente
              </label>
              <label class="btn btn-outline-light active" for="id_urgencia2">
                <input type="radio" name="urgencia" id="id_urgencia2" autocomplete="off" value="no urgente" checked> No urgente
              </label>
            </div>
          </div>


            {% comment %}
            input para seleccionar el paciente
            {% endcomment %}
            <div class="form-group text-center">
              {% comment %} <label class="" for="select_nombre">Paciente:</label> {% endcomment %}
              <select class="form-control mx-auto" id="select_nombre" onchange="set_nombre_y_cama()" required>
                <option value="" selected>Selecciona un paciente</option>
                {% for paciente in pacientes %}
                <option value="{{paciente}}">{{paciente}}</option>
                {% endfor %}
                
              </select>
            
              <input type="hidden" class="form-control mt-1" name="paciente" required id="id_paciente" readonly>
            
              <input type="hidden" class="form-control mt-1" name="cama" maxlength="100" required id="id_cama" readonly>


            </div>


            {% comment %} <div class="text-center">{{pacientes}}</div> {% endcomment %}


            {% comment %}
            espacio para introducir los insumos que se pediran
            {% endcomment %}
            <div class="form-group text-center">
              <label for="id_insumos">Insumos:</label> 
              
              <select class="form-control mx-auto" id="select_insumo" onchange="set_insumos()">
                <option value="" selected>Selecciona los insumos</option>
                {% for insumo in insumos %}
                <option value="{{insumo}}">{{insumo}}</option>
                {% endfor %}
              </select>

              <input type="hidden" class="form-control mt-1" name="insumos" required id="id_insumos" readonly>

              <table class="table table-striped table-sm my-1" id="tabla_insumos">
              
              {% comment %} <table class="tabla table table-bordered" id="tabla"> {% endcomment %}
                <tr>
                  <td>insumo</td>
                  <td>cantidad</td>
                  <td>opciones</td>
                </tr>

              </table>

            </div>
          


            <div class="text-center">
              <input type="submit" class="btn btn-primary btn-block" value="Crear pedido" onsubmit="return enviar()"/>
            </div>
          


            {% comment %} <button class='btn btn-sm btn-primary btn-block' onclick="enviar()">nuevo boton Enviar</button> {% endcomment %}
  
            <div id="lista"></div>



          </div>
        </form>

<script>

function set_nombre_y_cama(){
  var seleccionado = document.getElementById("select_nombre").value;
  //console.log(seleccionado);
  console.log(seleccionado.slice(0,5));
  console.log(seleccionado.slice(8,seleccionado.length));
  
  var cama = seleccionado.slice(0,5);
  var nombre = seleccionado.slice(8,seleccionado.length);
  // seleccionado.name;
  //seleccionado.dataset.cama;

  document.getElementById("id_paciente").value = nombre;
  document.getElementById("id_cama").value = cama;
}


function set_insumos(){
  var seleccionado = document.getElementById("select_insumo").value;
  console.log(seleccionado);

  var tabla_insumos = document.getElementById("tabla_insumos");
  tabla_insumos.innerHTML += "<tr><td class='insumo'>" + seleccionado + "</td><td class='cantidad'>1</td><td><div class='btn btn-sm btn-success' onclick='sumar(this)'>+</div><div class='btn btn-sm btn-warning' onclick='restar(this)'>-</div><div class='btn btn-sm btn-danger' onclick='quitar(this)'>x</div></td>";   




  /*var texto = document.getElementById("id_insumos").value;
  
  if(texto == ''){
    document.getElementById("id_insumos").value = seleccionado;   
  }else{
    document.getElementById("id_insumos").value = texto + ";" + seleccionado;   
  }*/

}


function enviar(){
  //var lista = document.getElementById("lista");
  var insumos = document.getElementsByClassName("insumo");
  var cantidad = document.getElementsByClassName("cantidad");
  //console.log(insumos.length);
  //alert(insumos.length)
  var texto = "";
  for(var i = 0; i<insumos.length;i++){
    //console.log(insumos[i].innerHTML);
    if(texto == ''){
      texto += insumos[i].innerHTML + " -- X " + cantidad[i].innerHTML + " Unidades";
    }else{
      texto += ";" + insumos[i].innerHTML + " -- X " + cantidad[i].innerHTML + " Unidades";
    }

  }

  document.getElementById("id_insumos").value = texto;

  //lista.innerHTML = texto;
  //document.getElementById("formularioCrear").submit();
  return true;
}



function restar(elemento){
  console.log("restar mundooo");
  var cantidad = parseInt(elemento.parentElement.previousElementSibling.innerHTML);
  if(cantidad > 1){
     elemento.parentElement.previousElementSibling.innerHTML = cantidad -1;
     console.log("la cantidad ya ebtro al if");
  }
  console.log("la cantidad no entro al if");
}


function sumar(elemento){
  console.log("sumar mundooo");
  console.log(parseInt(elemento.parentElement.previousElementSibling.innerHTML));
  var cantidad = parseInt(elemento.parentElement.previousElementSibling.innerHTML);
  //elemento.parentElement.previousElementSibling.innerHTML = cantidad +1;
  elemento.parentElement.previousElementSibling.innerHTML = cantidad + 1;

}



function quitar(elemento){
  //elemento.innerHTML = "siu";
  elemento.parentNode.parentNode.remove();
}




</script>





    </div>
  </div>
</main>
{% endblock %}