{% extends 'core/base.html' %}
{% load static %}
{% block title %}Iniciar sesión{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>

<main role="main">
    <div class="container">


    {% comment %}
    Mensaje de accexo denegado
    {% endcomment %}
    {% if 'debe_autentificarse_para_poder_acceder' in request.GET %}
      <div class="alert alert-warning alert-dismissible fade show desvanecer" role="alert">
        Debe autentificarse para poder acceder.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}

    <div class="row mt-3 text-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 mx-auto mb-5">
        <form action="" method="post">{% csrf_token %}
          <h3 class="mb-4">Iniciar sesión</h3>
          {% if form.non_field_errors %}
            <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
          {% endif %}
          <p>
            <input type="text" name="username" autofocus maxlength="254" required
              id="id_username" class="form-control" placeholder="Nombre de usuario"/>
          </p>
          <p>
            <input type="password" name="password" required
              id="id_password" class="form-control" placeholder="Contraseña"/>
          </p>
          <p><input type="submit" class="btn btn-primary btn-block color2" value="Acceder"></p>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}